I am a theme
<div id="page">
    <header>
      {{ page.header }}
    </header>

    <section id="menu">
      {{ page.menu }}
    </section>

    <section id="content">
      {{ page.content }}
    </section>

    <section id="body">
      {{ page.body }}
    </section>

    <footer>
      {{ page.footer }}
    </footer>
</div>
